body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 20px;
}
